body {
	--cont-bg-color: #d9d9d9;
	--header-color: #C3073F;
	--body-color: black;
	--a-color: blue;
}

body {
	height: 100vh;
	font-family: Arial, Georgia, "Time News Roman";
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--body-bg-color);
	color: var(--body-color);
}

.container {
	width: 60%;
	min-height: 90vh;
	position: static;
	z-index: 0;
	margin: 0 auto;
	padding: 20px;
	background-color: var(--cont-bg-color);
}

img {
	width: 300px;
	margin: 5px;
}

header {
	width: 100%;
	text-align: center;
	color: var(--header-color);
	border-bottom-style: solid;
}

footer {
	width: 100%;
	text-align: center;
	color: var(--header-color);
	border-top-style: solid;
}

h1 {
	text-align: center;
	color: var(--header-color);
}

h1 a{
	text-decoration: none;
	color: var(--a-color);
}

a {
	color : var(--a-color);
}

section {
	position: relative;
	margin: 14px;
	padding: 20px;
	text-align: justify;
	background-repeat: no-repeat;
	background-size: cover;
}

section img {
	width: 30%;
	height: auto;
	float: right;
	position: relative;
	margin: 20px;
}
/* pentru imaginea de profil */
#profil{
	 width: 220px;
 }

/* Pentru a nu lasa imaginile sa iasa din border */
.inaltator {
	clear: both;
	width: 100%;
}

nav {
	max-width: 500px;
	text-align: center;
	margin: 14px auto;
}

nav ul{
	display: flex;
	flex-direction: row;
}

nav ul>li {
	display: inline-block;
	flex: auto;
	margin: 0 20px;
	padding: 2px;
	border-radius: 100% 100% 0 0;
	transition-duration: 1.5s;
}

nav ul>li:hover {
	border-radius: 25% 25% 0 0;
	background-color: rgba(123, 130, 157, 0.5);
	transition-duration: 1s;
}

li img{
	float: right;
}

table th, td{
	text-align: center;
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

tr:nth-child(even) {
	border: 2px solid black;
}

button{
	padding: 10px;
	text-align: center;
	font-size: 24;
}

.logo_img {
	display: inline;
	width: 30px;
	height: 30px;
	float: none;
	vertical-align: middle;
}

.card {
	background-color: var(--cont-bg-color);
}

@media only screen and (max-width: 1000px){
	.container {
		width: 100%;
		padding: 20px;
	}

	h1, h2, h3 {
		text-align: center;
	}

	img#profil {
		display: block;
		float: none;
		clear: both;
		position: relative;
		/* try to center the picture */
		left: 50%;
		transform: translateX(-50%);
	}

}

@media (prefers-color-scheme: dark) {
	body{
		--body-bg-color: #191b22;
		--body-color: white;
		--cont-bg-color: #313543;
		--a-color: #4ea2df;
	}
}
